.content-bg {
	background-color: $content-bg-color;
}
.white {
	background-color: $white;
}

.page-header {
	@include border-bottom;
	margin-bottom: 1em;
}


// Buttons

%btn {
	display: inline-block;
	padding: .75em;
	border: 0;
	outline: 0;
	&:hover {
		cursor: pointer;
	}
}


// Boxes

.box-link {
	// link tag that contains block tags
	display: block;
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
	}
	.overlay {
		@extend %img-small;
		@extend %rounded;
		display: none;
		background-color: $overlay-color;
	}
	&:hover .overlay {
		margin-top: 1px; // Compensate for .box-img-container border
		display: block;
		position: absolute;
	}
}
.box-img-container {
	border: 1px solid $medium-grey;
	overflow: hidden;
	// @include border-radius(3px);
	img { 
		display: block; 
		max-width: 100%;
	}
}
.box-item-header {
	margin: .5em 0 .4em 0;
	font-size: 1.25em;
	font-weight: 200;
}
%box-item-content {
	font-size: .8125em;
	line-height: 1.4em;
	overflow: hidden;
}


// Images

%rounded {
	// @include border-radius(2px);
}
.content {
	img {
		@extend %rounded;
		// margin-bottom: 1em;
		max-width: 100%;
		height: auto;
	}
}
.placeholder {
	background-color: $light-grey;
}
.single-thumbnail {
	@extend %img-single;
	clear: both;
	margin-bottom: 1em;
}
.index-thumbnail {
	@extend %img-small;
	float: left;
	clear: both;
	margin-right: 1em;
}


// Loop

.entry {
	// margin-bottom: 2em;
	@include border-bottom;
	@include clearfix;
}
.meta {
	margin-top: 1em;
	clear: both;
	color: $medium-grey;
	font-size: .75em;
}


// Category

.animal-header {}
.animal-img {
	@extend %rounded;
	@extend %img-small;
}
.animal-content {
	@extend %box-item-content;
}