%btn {
  display: inline-block;
  padding: .75em;
  border: 0;
  outline: 0;
  &:hover {
  	cursor: pointer;
  }
}


// Front page

.carousel {
	margin-top: 2em;
	background-color: $carousel-color;
	color: $white;
	@extend %rounded;

	h1, h2, h3, h4, h5, h6, a {
		color: $white;
	}
	a {
		text-decoration: underline;
	}
}
.carousel-item {
	&:not(:first-child) {
		display: none;
	}
}
.carousel-item-img {}
.carousel-item-content {
	padding: 1.5em;
	padding-left: .5em;
}

// Sections' header
.fp-header {
	@include clearfix;
	margin-top: 2em;
	margin-bottom: 1em;
	border-bottom: 1px solid $light-grey;
	font-size: 1.125em;
	font-weight: 400;
	> a {
		font-size: .7em;
		float: right;
	}
}

// Elements' header
.box-item-header {
	margin: .05em 0;
	font-size: 1.125em;
	font-weight: 400;
}

%box-item-content {
	font-size: .875em;
	line-height: 1.4em;
}
%fp-rythm {
	// Add vertical rythm to front page
	margin-bottom: 2em;
}
%rounded {
	@include border-radius(2px);
}


.news {
	@extend %fp-rythm;
}
.news-item {}
.news-item-img {
	@extend %rounded;
}
.news-item-content {
	@extend %box-item-content;
}


.adoptions {
	@extend %fp-rythm;
}
.adoptions-item {}
.adoptions-item-img {
	@extend %rounded;
}
.adoptions-item-content {
	@extend %box-item-content;
}


// List of animals

.animal-header {}
.animal-img {
	@extend %rounded;
}
.animal-content {
	@extend %box-item-content;
	margin-bottom: 3em;
}

.pager {
	font-size: .875em;
	margin-bottom: 1em;
	text-align: center;
}
.pager-page {
	display: inline-block;
	width: 6em;
	padding: .5em .75em;
}
%btn-pager {
	@extend %btn;
	padding: .5em .75em;
	@include border-radius(4px);
	background-color: $pager-color;
	border-bottom: 2px solid darken($pager-color, 17%);
	color: $white;
	&:hover {
		text-decoration: none;
		background-color: darken($pager-color, 7%);
	}
}
.btn-previous {
	@extend %btn-pager;
	float: left;
}
.btn-next {
	@extend %btn-pager;
	float: right;
}