.content-bg {
	background-color: $content-bg-color;
}
.white {
	background-color: $white;
}

.page-header {
	@include border-bottom;
	margin-bottom: 1em;
}


// Buttons

%btn {
  display: inline-block;
  padding: .75em;
  border: 0;
  outline: 0;
  &:hover {
  	cursor: pointer;
  }
}


// Boxes

.box-link {
	// link tag that contains block tags
	display: block;
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
	}
	.overlay {
		@extend %img-small;
		@extend %rounded;
		display: none;
		background-color: $overlay-color;
	}
	&:hover .overlay {
		display: block;
		position: absolute;
	}
}
.box-item-header {
	margin: .25em 0;
	font-size: 1.0625em;
	font-weight: 400;
}
%box-item-content {
	font-size: .8125em;
	line-height: 1.4em;
	overflow: hidden;
}


// Images

%rounded {
	@include border-radius(2px);
}
.content {
	img {
		@extend %rounded;
		// margin-bottom: 1em;
	}
}
.placeholder {
	background-color: $light-grey;
}
.single-thumbnail {
	@extend %img-single;
	clear: both;
	margin-bottom: 1em;
}
.index-thumbnail {
	@extend %img-small;
	float: left;
	clear: both;
	margin-right: 1em;
}


// Pager 

.pager {
	font-size: .875em;
	margin-bottom: 1em;
	text-align: center;
}
.pager-page {
	display: inline-block;
	width: 6em;
	padding: .5em .75em;
}
%btn-pager {
	@extend %btn;
	padding: .5em .75em;
	@include border-radius(4px);
	background-color: $pager-color;
	border-bottom: 2px solid darken($pager-color, 17%);
	color: $white;
	&:hover {
		text-decoration: none;
		background-color: darken($pager-color, 7%);
	}
}
.btn-previous {
	@extend %btn-pager;
	float: left;
}
.btn-next {
	@extend %btn-pager;
	float: right;
}


// Loops

.entry {
	// margin-bottom: 2em;
	@include border-bottom;
	@include clearfix;
}
.meta {
	margin-top: 1em;
	clear: both;
	color: $medium-grey;
	font-size: .75em;
}


// Category

.animal-header {}
.animal-img {
	@extend %rounded;
	@extend %img-small;
}
.animal-content {
	@extend %box-item-content;
	margin-bottom: 3em;
}