// Front page

// Carousel
.carousel {
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
	.carousel-border {
		@include border;
	}
	.carousel-item-content-box {
		padding: .25em .5em .5em .5em;
		background-color: fade-out($white, .3);
		@include background(linear-gradient(top, fade-out($white, .4), fade-out($white, .1)))
	}
	.carousel-item-header {
		margin: 0 0 .1em 0;
		font-size: 1.35em;
		font-weight: 200;
	}

	.carousel-item-content {
		@extend %box-item-content;
	}
	%carousel-nav {
		color: $medium-grey;
		i {
			@extend %dashicon;
			// padding: .35em .2em;
			font-size: 3em;	
			text-align: center;
			&:before {
				line-height: 1em;
			}
		}
		&:hover {
			color: $light-grey;
		}
	}
	.carousel-prev i:before {
		content: "\f341";
	}
	.carousel-next i:before {
		content: "\f345";
	}
	


// Sections' header
.fp-header {
	@include clearfix;
	margin-top: 2.5em;
	@include margin-bottom;
	@include border-bottom;
	clear: both;
	font-size: 1.125em;
	font-weight: 400;
	> a {
		font-size: .7em;
		float: right;
		color: $link-color;
		&:hover {
			text-decoration: underline;
		}
	}
}

%fp-rythm {
	// Add vertical rythm to front page
	margin-bottom: 2em;
}

.news {
	// @extend %fp-rythm;
	.overlay {
		@extend %img-medium;
	}
}
.news-item {}
.news-item-img {
	@extend %rounded;
}
.news-item-content {
	@extend %box-item-content;
}


.adoptions {
	@extend %fp-rythm;
}
.adoptions-item {}
.adoptions-item-img {
	@extend %rounded;
}
.adoptions-item-content {
	@extend %box-item-content;
}
.adoptions-item-more-link {
	display: inline-block;
	margin-top: .35em;
}