// Front page

// // Carousel
.carousel {
	// background-color: $carousel-color;
	// color: $white;

// 	h1, h2, h3, h4, h5, h6, a {
// 		// color: $white;
// 		font-size: 1.25em;
// 	}
	a {
		color: inherit;
	}
}
// 	.carousel-container {
// 		background-color: $sidebar-color;
// 	}
// 	.carousel-item {
// 	}
// 	.carousel-item-img {
// 	}
	.carousel-item-content-box {
		padding: .25em .5em .5em .5em;
		background-color: fade-out($white, .3);
		@include background(linear-gradient(top, fade-out($white, .3), fade-out($white, .1)))
	}
	.carousel-item-header {
		margin: 0 0 .1em 0;
		font-size: 1.35em;
		font-weight: 200;
	}

	.carousel-item-content {
		@extend %box-item-content;
	}
	%carousel-nav {
		color: $medium-grey;
		i {
			@extend %dashicon;
			font-size: 5em;	
		}
		&:hover {
			color: $dark-grey;
		}
	}
	.carousel-prev i:before {
		content: "\f341";
	}
	.carousel-next i:before {
		content: "\f345";
	}
	


// Sections' header
.fp-header {
	@include clearfix;
	margin-top: 2.5em;
	margin-bottom: 1em;
	@include border-bottom;
	clear: both;
	font-size: 1.125em;
	font-weight: 400;
	> a {
		font-size: .7em;
		float: right;
		color: $link-color;
		&:hover {
			text-decoration: underline;
		}
	}
}

%fp-rythm {
	// Add vertical rythm to front page
	margin-bottom: 2em;
}

.news {
	// @extend %fp-rythm;
	.overlay {
		@extend %img-medium;
	}
}
.news-item {}
.news-item-img {
	@extend %rounded;
}
.news-item-content {
	@extend %box-item-content;
}


.adoptions {
	@extend %fp-rythm;
}
.adoptions-item {}
.adoptions-item-img {
	@extend %rounded;
}
.adoptions-item-content {
	@extend %box-item-content;
}
.adoptions-item-more-link {
	display: inline-block;
	margin-top: .35em;
}