// Configuration
$font-size: 16px;
$em: $font-size / 1em;

$column: 60px / $em;
$gutter: 20px / $em;

// Column widths in ems
@mixin width ($cols:1) {
    width: ($cols * ($column + $gutter) - $gutter);
}

// Breakpoints
@mixin breakpoint($cols) {
    @media (min-width: ($cols * ($column + $gutter))) { @content; }
}