// Wrapper elements

.wrapper {
	@include clearfix;
	margin: auto;
	padding: 0 0+$gutter/2;
	@include width(12);

	&.white {
		padding: 0 2*$gutter $gutter 2*$gutter;
	}
}
.content-bg {
	margin-bottom: 1.5*$gutter;
	padding: 2*$gutter 0;
}


// Content

.content {
	@include width(9);
	float: left;
}
.entry {
	margin-right: .5*$gutter;
}


// Sidebar

.sidebar {
	@include width(3);
	float: right;
}


// Footer

.footer-left {
	@include width(5);
	float: left;
}
.footer-right {
	@include width(5);
	float: right;
}


// Front page

%blocks-in-single-row {
	&:not(:last-child) {
		margin-right: $gutter;
	}
}

// Carousel
.carousel {
	@include width(9);
	float: left;
}
	.carousel-container {
		@include clearfix;
		position: relative;
		margin-top: $gutter*2;
		// margin: $gutter*2 $column/2 0 $column/2;
		// text-align: center;
	}
	.carousel-item {
		@include width(12);
		display: block;
		float: left;
	}
	.carousel-item-img {
		@extend %img-single;
		@include width(8);
		height: auto;
		float: left;
	}
	.carousel-item-content-box {
		@include width(4.15);
		float: right;
	}

	// Carousel Navigation
	%carousel-nav {
		position: absolute;
		top: 180px;
	}
	.carousel-prev {
		@extend %carousel-nav;
		left: $gutter;
	}
	.carousel-next {
		@extend %carousel-nav;
		right: $column*4 + $gutter*5;
	} 

// Box elements
.news, .adoptions {
	@include clearfix;
}
	.news-item {
		@include width(4);
		float: left;
		@extend %blocks-in-single-row;
	}
	.adoptions-item {
		@include width(3);
		float: left;
		@extend %blocks-in-single-row;
	}

.animals {
	@include clearfix;
}
	.animal {
		@include width(3);
		float: left;
		margin-top: 1em;
		margin-bottom: 3em;
		&:nth-child(3n+1) {
			clear: left;
		}
		&:not(:nth-child(3n)) {
			margin-right: $gutter;
		}
	}

// Pagination
.pager {
	@include clearfix;
	clear: both;
}