// All floats and column widths are here

body {
  // margin: 0 $gutter/2;
}

.wrapper {
	@include clearfix;
  margin: auto;
  padding: 0 0+$gutter/2;
  @include width(12);
}

.content {
	@include width(8);
	float: left;
}

.sidebar {
	@include width(4);
	float: right;
}

.footer-left {
	@include width(5);
	float: left;
}
.footer-right {
	@include width(5);
	float: right;
}

// Front page
%blocks-in-single-row {
	&:not(:last-child) {
		margin-right: $gutter;
	}
}

.carousel {
	@include clearfix;
}
.carousel-item-img {
	@include width(8);
	float: left;
}
.carousel-item-content-box {
	@include width(4);
	float: right;
}

.news, .adoptions {
	@include clearfix;
}

.news-item {
	@include width(4);
	float: left;
	@extend %blocks-in-single-row;
}

.adoptions-item {
	@include width(3);
	float: left;
	@extend %blocks-in-single-row;
}