.pager {
  font-size: .875em;
  @include margin-bottom;
  text-align: center;
}
.pager-page {
  display: inline-block;
  width: 10em;
  padding: .5em .75em;
}
%btn-pager {
  @extend %btn;
  padding: .5em .75em;
  @include border-radius(4px);
  background-color: $pager-color;
  border-bottom: 2px solid darken($pager-color, 17%);
  color: $white;
  &:hover {
    text-decoration: none;
    background-color: darken($pager-color, 7%);
  }
}
.btn-previous {
  @extend %btn-pager;
  float: left;
}
.btn-next {
  @extend %btn-pager;
  float: right;
}