$header-stack: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$alt-header-stack: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$body-stack: $header-stack;

$light-grey: #ddd;
$dark-grey: #444;
$white: #fff;

$link-color: #136fd2;
$sidebar-color: #eff0f4;
$navbar-color: #263553;
$footer-color: #a1191d;

$carousel-color: #d48a0f;
$pager-color: #6d93b8;
