.content-bg {
	background-color: $content-bg-color;
}
.white {
	background-color: $white;
}

.right {
	float: right;
}
.left {
	float: left;
}

// Buttons

%btn {
	display: inline-block;
	padding: .5em .65em;
	border: 0;
	outline: 0;
	&:hover {
		cursor: pointer;
	}
}


// Boxes

.box-link {
	// link tag that contains block tags
	display: block;
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
	}
	.overlay {
		@extend %img-small;
		// @extend %rounded;
		display: none;
		background-color: $overlay-color;
	}
	&:hover .overlay {
		margin-top: 1px; // Compensate for .box-img-container border
		display: block;
		position: absolute;
	}
}

.box-img-container {
	@include border;
	overflow: hidden;
	// @include border-radius(3px);
	img {
		display: block;
		max-width: 100%;
	}
}

.box-item-header {
	margin: .5em 0 .4em 0;
	font-size: 1.25em;
	font-weight: $thin;
	color: #000;
}

%box-item-content {
	font-size: .8125em;
	line-height: 1.4em;
	overflow: hidden;
	color: $dark-grey;
}

.box-date {
	margin-top: .3em;
	font-size: .7em;
	color: $medium-grey;
	text-transform: uppercase;
}


// Boxes 3 columns wide

.boxes {
	// Holds multiple rows of boxes
	@include clearfix;
}

.boxes3 {
	@include width(9);
	float: left;
}

.box3 {
	@include width(3);
	float: left;
	margin-bottom: 3em;
	&:nth-child(3n+1) {
		clear: left;
	}
	&:not(:nth-child(3n)) {
		margin-right: $gutter;
	}
}

.box3-header {}

.box3-img {
	// @extend %rounded;
	@extend %img-small;
}

.box3-content {
	@extend %box-item-content;
}

// Content

.content {
	img {
		// @extend %rounded;
		// @include margin-bottom;
		// max-width: 100%;
		// height: auto;
	}
	&.no-header {
		padding-top: 2em;
	}
}


// Images

%rounded {
	// @include border-radius(2px);
}

.placeholder {
	background-color: $light-grey;
}

.single-thumbnail {
	// @extend %img-single;
	clear: both;
	@include margin-bottom;
	max-width: 100%;
	height: auto;
}

.index-thumbnail {
	// @extend %img-small;
	@include border;
}


// Loop

.archive-header {
	// @include border-bottom;
	@include margin-bottom(.75);
}

.entry {
	// margin-bottom: 2em;
	// @include border-bottom;
	@include clearfix;
	@include margin-bottom(1);

	// font-size: 14px;

	&.single, &.page {
		margin-bottom: 0;
	}
}

.entry-title {
	margin-top: .5em;
	@include margin-bottom(1);
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		// line-height: 1.25em;
	}
	h2 {
		// font-size: 2.2em;
	}
}

.single-entry-title {
	@extend .entry-title;
	margin-top: 2.5em;
	@include margin-bottom(2);
}
%entry-meta {
	font-size: .85em;
	text-transform: uppercase;
}
.meta-category {
	@extend %entry-meta;
}
.meta-date {
	@extend %entry-meta;
	color: $medium-grey;
}


// Wp image alignments and captions

%wp-image-align {
	max-width: 100%;
	height: auto;
	// @include margin-bottom;
}

img%wp-image-extra-margin {
	// when image is without a wp-caption
	@include margin-bottom;
}

.alignnone {
	@extend %wp-image-align;
}

.alignleft {
	@extend %wp-image-align;
	@extend %wp-image-extra-margin;
	margin-right: 1em;
	float: left;
	img {
		float: left;
	}
}

.alignright {
	@extend %wp-image-align;
	@extend %wp-image-extra-margin;
	margin-left: 1em;
	float: right;
	img {
		float: right;
	}
}

.aligncenter {
	@extend %wp-image-align;
	display: block;
	margin: auto;
}

.wp-caption img {
	@extend %wp-image-align;
	display: block;
}

.wp-caption {
	// Vertical rythm
	@include margin-bottom;
}

.wp-caption-text {
	font-size: .9em;
	color: $medium-grey;
	font-style: italic;
	text-align: center;
}

.gallery {
	margin-bottom: 1em;
}