.footer-bg {
	background-color: $footer-color;
}
.footer {
	color: $white;
	padding-top: 2em;
	padding-bottom: 7em;
}
.footer-widget {

}
.footer-header {
	color: $white;
	font-size: 1.875em;
	font-weight: 300;
}
.footer-content {
	font-size: .875em;
}

.footer-form {

}

.search-footer {
	@include box-sizing(border-box);
	width: 80%;
	float: left;
	margin: 0;
	border: 0;
	outline: 0;
	padding: .75em;

	background-color: fade-out($white, .1);
}
.btn-footer {
	@include box-sizing(border-box);
	width: 20%;
	float: right;
	@extend %btn;
	margin: 0;
	color: $white;
	background-color: saturate(darken($footer-color, 10%), 10%);
	&:hover {
		background-color: saturate(darken($footer-color, 15%), 10%);
	}
}

.fb-like-box {
	background-color: fade-out($white, .075);
}