.btn-payu {
  border: 0px;
  height: 35px;
  width: 160px;
  background: url('http://static.payu.com/pl/standard/partners/buttons/przekaz_darowizne.png');
  cursor: pointer;
}

.payu-widget {
  background-image: url('assets/images/PayU.png');
  background-position: 5px center;
  background-size: 35%;
  background-repeat: no-repeat;
  padding-left: 90px;
  position: relative;
  background-color: lighten($sidebar-color, 3%);

  form {
    padding: 10px 5px 10px 0;
  }
  .kwota {
    @include box-sizing(border-box);
    width: 140px;
    margin: 0;
    // margin: 0 0 10px 0;
    border: 0;
    outline: 0;
    padding: .75em;
    background-color: $white;
    text-align: center;
  }
  button {
    @include box-sizing(border-box);
    padding: .75em;
    width: 140px;
    @extend %btn;
    margin: 0;
    color: $white;
    background-color: lighten($navbar-color, 10%);

    &:hover {
      // background-color: $footer-color;
      background-color: lighten($navbar-color, 15%);
    }
  }
}

.payu-banki {
  margin-top: 30px;
}