$header-stack: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$body-stack: $header-stack;
$thin: 300;
$normal: 400;
$bold: 800;

$light-grey: #ddd;
$medium-grey: #888;
$dark-grey: #444;
$white: #fff;

$link-color: #136fd2;
$sidebar-color: #eff0f4;
$sidebar-alt-color: #fff2df;
$navbar-color: #263553;
$content-bg-color: #dadada;
$footer-color: #a1191d;
$footer-color: $navbar-color;

$carousel-color: #d48a0f;
$pager-color: #6d93b8;
$carousel-color: $footer-color;
$overlay-color: fade-out(#444, .9);

@mixin border-bottom() {
	border-bottom: 1px solid $light-grey;
}
@mixin margin-bottom($ems:1.5) {
  margin-bottom: 1em * $ems;
}
@mixin border {
  border: 1px solid $medium-grey;
}

%img-small {
	height: 145px;
	width: 220px;
}

%img-medium {
	height: 200px;
	width: 300px;
}

%img-single {
	height: 410px;
	width: 700px;
}
